*, *::before, *::after {
	box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,93,1) 27%, rgba(0,212,255,1) 100%);

}

.calculator-grid {
  display: grid;
  margin-top: 25px;
  grid-template-columns: repeat(4, 65px);
  grid-template-rows: minmax(75px, auto) repeat(5, 65px);
  justify-content: center;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  padding: 8px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color:rgba(255, 255, 255, .75);
  font-size: 15px;
}

.output .current-operand {
  color: white;
  font-size: 30px;
}

.span-two {
  grid-column: span 2;
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 25px;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
  background-color: rgba(255, 255, 255, 0.9);
}